<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Job</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Add Job</h2>


<form th:action="@{/admin/add-job}" method="post" th:object="${addJobDTO}">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="form-control" th:errorclass="'is-invalid bg-danger'" th:field="*{title}">
        <small th:each="error: ${#fields.errors('title')}"
               th:text="${error}"
               class="invalid-feedback text-danger"
               style="font-size: 15px">title error message</small>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:errorclass="'is-invalid bg-danger'" class="form-control" th:field="*{description}"></textarea>
        <small th:each="error: ${#fields.errors('description')}"
               th:text="${error}"
               class="invalid-feedback text-danger"
               style="font-size: 15px">title error message</small>
    </div>
    <div class="form-group">
        <label for="requirements">Requirements:</label>
        <textarea id="requirements" name="requirements" th:errorclass="'is-invalid bg-danger'" class="form-control" th:field="*{requirements}"></textarea>
        <small th:each="error: ${#fields.errors('requirements')}"
               th:text="${error}"
               class="invalid-feedback text-danger"
               style="font-size: 15px">title error message</small>
    </div>
    <button type="submit" class="btn btn-primary">Add Job</button>
</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>