<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booking - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container mt-5">
    <h2 class="text-center">Make a Reservation</h2>
    <form th:action="@{'/booking?event_id=' + ${ReservationDTO.eventId}}" th:method="post" th:object="${ReservationDTO}">
        <div class="form-group">
            <label for="eventName">Event:</label>
            <input type="text" class="form-control" th:field="*{eventName}" id="eventName" name="eventName" readonly>
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone:</label>
            <input type="tel" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" name="phoneNumber" readonly>
        </div>
        <div class="form-group">
            <label for="guests">Number of Guests:</label>
            <input type="number" class="form-control" th:errorclass="'is-invalid bg-danger'" th:field="*{guests}" id="guests" name="guests" required>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('guests')}" th:errors="*{guests}"></div>
        </div>

        <input type="hidden" th:field="*{eventId}" id="eventId" name="eventId">

        <button type="submit" class="btn btn-primary btn-block">Book Now</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
