<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Event Details - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .event-images .img-thumbnail {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
<div th:replace="fragments/header">...</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-body text-center">
            <h2 class="card-title" th:text="${event.name}">Event Name</h2>
            <p class="card-text" th:text="${event.description}">Event Description</p>
            <p class="card-text" th:text="'Date: ' + ${event.date}">Event Date</p>
            <p class="card-text" th:text="'Start Time: ' + ${event.startTime}">Start Time</p>
            <p class="card-text" th:text="'End Time: ' + ${event.endTime}">End Time</p>
            <p class="card-text" th:text="'Entry Fee: $' + ${event.entryFee}">Entry Fee</p>
            <p class="card-text" th:text="'Capacity: ' + ${event.capacity}">Capacity</p>
            <p class="singers-header">Singers:</p>
            <div th:each="singer : ${event.singers}" class="text-center mb-4">
                <img th:src="${singer.imageUrl}" alt="Singer Image" class="img-thumbnail singer-img" style="max-width: 200px;">
                <p class="card-text singer mt-2" th:text="${singer.name}">Singer Name</p>
            </div>
            <th:block th:unless="${event.imageUrls.isEmpty()}">
            <p class="event-images-header">Event Images:</p>
            <div class="row event-images">
                <div th:each="imageUrl : ${event.imageUrls}" class="col-md-3 mb-4">
                    <img th:src="@{${imageUrl}}" alt="Event Image" class="img-thumbnail" style="    max-width: 200px; max-height: 200px;">
                </div>
            </div>
            </th:block>
<!--        th:href="@{/order/details(id=${order.id})}"-->
<!--            <a th:href="@{/reservations(status='canceled')}" class="btn btn-outline-primary" th:classappend="${status == 'canceled'} ? 'active' : ''">Canceled</a>-->
            <a  th:if="${event.date.isEqual(T(java.time.LocalDate).now()) or event.date.isAfter(T(java.time.LocalDate).now())}" th:href="@{/booking(event_id=${event.id})}" class="btn btn-success mt-4">Make a Reservation</a>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer" ></footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
