<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<th:insert fragment="header :: header"/>
<div class="container mt-5">
    <h1 class="text-center">Welcome Back!</h1>
    <p class="text-center">We're glad to see you again. Check out our latest events and make a reservation for a fantastic night out.</p>
    <div class="text-center mt-4">
        <a href="/events" class="btn btn-primary btn-lg">View Events</a>
        <a href="/booking" class="btn btn-secondary btn-lg">Make a Reservation</a>
        <a href="/menu" class="btn btn-secondary btn-lg">View Menu</a>
    </div>
</div>
<th:insert fragment="footer :: footer"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
