<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Welcome - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">...</div>
<div class="container mt-5">
    <h1 class="text-center" th:text="#{index_page_title}">Welcome to Our Nightclub</h1>
    <p class="text-center" th:text="#{index_page_desc}">Experience the best nightlife in town. Join us for unforgettable nights filled with great music, drinks, and atmosphere.</p>
    <div class="text-center mt-4">
        <a href="/events" th:text="#{index_event_button}" class="btn btn-primary btn-lg">View Events</a>
        <a href="/login" th:text="#{nav_bar_login}" class="btn btn-secondary btn-lg">Login</a>
        <a href="/register"  th:text="#{nav_bar_login_register}" class="btn btn-secondary btn-lg">Register</a>
    </div>
</div>
<footer th:insert="fragments/footer" ></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
