<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add Menu Item - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:replace="fragments/header">...</div>

<div class="container mt-5">
    <h2 class="text-center">Add New Menu Item</h2>
    <form th:action="@{/admin/menu-item/add}" th:object="${addMenuItemDTO}" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" id="price" name="price" class="form-control" th:field="*{price}" step="0.01" required>
            <div class="invalid-feedback">
                Please provide a price.
            </div>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" name="category" class="form-control" th:field="*{menuItemCategory}" required>
                <option value="" disabled selected>Select a category</option>
                <option th:each="category : ${categoryList}" th:value="${category}" th:text="${category}">Category</option>
            </select>
            <div class="invalid-feedback">
                Please select a category.
            </div>
        </div>
        <div class="form-group">
            <label for="volume">Volume:</label>
            <input type="text" id="volume" name="volume" class="form-control" th:field="*{volume}" required>
            <div class="invalid-feedback">
                Please provide a volume.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Menu Item</button>
    </form>
</div>

<footer th:insert="fragments/footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>
