<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Menu Categories - Nightclub</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<div th:replace="fragments/header">...</div>

<div class="container mt-5">
    <h2 class="text-center">Menu Categories</h2>
    <div class="list-group">
        <a style="font-size: 30px" th:each="category : ${categoryList}"
           th:href="@{/menu-items(category=${category.name()})}"
           th:text="${category.name()}"
           th:classappend="|category-${category.name().toLowerCase()}|"
           class="list-group-item list-group-item-action">
        </a>
    </div>
</div>

<footer th:insert="fragments/footer"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
